# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.db
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

lib/sqlite/sqlite3
lib/sqlite/.deps
lib/sqlite/Makefile
lib/sqlite/.libs
lib/sqlite/config.log
lib/sqlite/config.status
lib/sqlite/libtool
lib/sqlite/libsqlite3.la
lib/sqlite/so_locations/
.sqlite_built_marker


